  <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order details</h2>
                    <p>Details for Order ID: <b>{{orderDetails.[0].pkOrderId}}</b>  </p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{orderDetails.[0].createdDate}}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{orderDetails.[0].pkOrderId}}</small>
                        </div>
                      
                         {{#each orderDetails}}
                        {{#eq strOrderStatus 'Delivered'}}
                          {{else}}
                          {{#eq strOrderStatus 'Cancelled'}}
                          {{else}}
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            
                            <select id="statusSelect" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option value="">Change status</option>
                          <option value="Confirmed">Confirmed</option>
                          <option value="Shipped">Shipped</option>
                           <option value="Delivered">Delivered</option>
                                </select>
                              
                            <a class="btn btn-primary order-status-change-btn"   data-pk-order-id="{{pkOrderId}}" data-pk-user-id="{{pkUserId}}"     href="#">Change</a>
                            {{!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> --}}
                              
                        </div>
                        {{/eq}}
                        {{/eq}}
                         {{/each}}
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row  order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        {{deliveryAddress.[0].strFullName}} <br>  <br> {{deliveryAddress.[0].strPhoneNo}}
                                    </p>
                                   
                                </div>
                            </article>
                        </div> <!-- col// -->
                       
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: {{deliveryAddress.[0].strCity}} <br>{{deliveryAddress.[0].strArea}} <br> Pincode:{{deliveryAddress.[0].intPinCode}}
                                    </p>
                                   
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    
                                Payment Method: {{orderDetails.[0].strPaymentMethod}} <br>
                                    Phone: {{deliveryAddress.[0].strPhoneNo}}
                                </p>
                            </div>
                           {{#each orderDetails}}
                           {{#eq strOrderStatus 'Processing' }}
                            <div class="h-25 pt-4">
                                 <a 
                                href='#' data-pk-order-id="{{pkOrderId}}" data-pk-user-id="{{pkUserId}}" data-order-status-change="Delivered"
                                class='btn-small d-block delivered-order-btn'
                              >  <button class="btn btn-primary">Make as Delivered</button></a>
                               <h6 id='errorMessage' style='color: red; text-align: center' ></h6>
                            </div>
                            {{/eq}}
                            {{/each}}
                        </div>
                   <!-- row // -->
                   
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if orderProducts}}
                                        {{#each orderProducts}}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src={{ mainProductUrl}} width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"> {{strProductName}} </div>
                                                </a>
                                            </td>
                                            <td> {{intPrice}} </td>
                                            <td> {{intQuantity}} </td>
                                            <td class="text-end"> {{intTotalPrice}} </td>
                                        </tr>
                                        {{/each}}
                                         {{/if}}
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>{{orderDetails.[0].intTotalOrderPrice}}</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Free</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">{{orderDetails.[0].intTotalOrderPrice}}</b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Payment Status</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">{{orderDetails.[0].strPaymentStatus}}</span>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Order Status</dt>
                                                        <dd>
                                                         {{#each orderDetails}}   <span class="badge rounded-pill  {{#eq  strOrderStatus 'Processing'}}alert-warning{{else}}{{#eq  strOrderStatus 'Delivered'}}alert-success{{else}}{{#eq  strOrderStatus 'Cancelled'}}alert-danger {{else}}alert-success{{/eq}} {{/eq}}{{/eq}}">{{strOrderStatus}}</span>{{/each}}
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        
                        <!-- col// -->
                     </div> 
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section>