<div class='page-header breadcrumb-wrap'>
  <div class='container'>
    <div class='breadcrumb'>
      <a href='/' rel='nofollow'>Home</a>

      <span></span>
      <a href='index.html' rel='nofollow'> Account</a>
     
    </div>
  </div>
</div>
<section class='pt-10 pb-150'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg m-auto'>
        <div class='row'>
          <div class="col-md-4">

          </div>
          <div class='col-md-4'>
  <div class='tab-content dashboard-content'>
    <div class='tab-pane fade active show' id='account-detail' role='tabpanel' aria-labelledby='account-detail-tab'>
      <div class='card'>
        <div class='card-header'>
          <h5> Edit address</h5>
        </div>
        <div class='card-body'>
          <form id="edit-address-form" name='enq'>
            <div class='row'>
              <div class='col-md-12'>
                <div class='form-group'>
                             <input required='' class='form-control square' name='pkAddressId' type='hidden' maxlength='50' value={{arrAddress.pkAddressId}} />
                                <input required='' class='form-control square' name='pkUserId' type='hidden' maxlength='50' value={{arrAddress.pkUserId}} />
                  <label>Full name<span class='required'>*</span></label>
                  <input required='' class='form-control square' name='fname' type='text' maxlength='50' value="{{arrAddress.strFullName}}" /> <!-- Adjusted maxlength -->
                </div>
                <div class='form-group'>
                  <label>Mobile number<span class='required'>*</span></label>
                  <input required='' class='form-control square' name='phno' type='number' maxlength='100' value="{{arrAddress.strPhoneNo}}"/> <!-- Adjusted maxlength -->
                </div>
                <div class='form-group'>
                  <label>Area,Street,Village<span class='required'></span></label>
                  <input required='' class='form-control square' name='area' type='text' maxlength='50' value="{{arrAddress.strArea}}"/> <!-- Adjusted maxlength -->
                </div>
                <div class='form-group'>
                  <label>Pincode<span class='required'>*</span></label>
                  <input required='' class='form-control square' name='pincode' type='number' maxlength='50' value="{{arrAddress.intPinCode}}"/> <!-- Adjusted maxlength -->
                </div>
                <div class='form-group'>
                  <label>Town/City<span class='required'>*</span></label>
                  <input required='' class='form-control square' name='city' type='text' maxlength='50' value="{{arrAddress.strCity}}" /> <!-- Adjusted maxlength -->
                </div>
               
                <div class='form-group'>
    <label for='state'>State<span class='required'>*</span></label>
    <select required='' class='form-control square' name='state' id='state'>
        <option value="{{arrAddress.strState}}">{{arrAddress.strState}}</option>
        <option value='Andhra Pradesh'>Andhra Pradesh</option>
        <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
        <option value='Assam'>Assam</option>
        <option value='Bihar'>Bihar</option>
        <option value='Chhattisgarh'>Chhattisgarh</option>
        <option value='Goa'>Goa</option>
        <option value='Gujarat'>Gujarat</option>
        <option value='Haryana'>Haryana</option>
        <option value='Himachal Pradesh'>Himachal Pradesh</option>
        <option value='Jharkhand'>Jharkhand</option>
        <option value='Karnataka'>Karnataka</option>
        <option value='Kerala'>Kerala</option>
        <option value='Madhya Pradesh'>Madhya Pradesh</option>
        <option value='Maharashtra'>Maharashtra</option>
        <option value='Manipur'>Manipur</option>
        <option value='Meghalaya'>Meghalaya</option>
        <option value='Mizoram'>Mizoram</option>
        <option value='Nagaland'>Nagaland</option>
        <option value='Odisha'>Odisha</option>
        <option value='Punjab'>Punjab</option>
        <option value='Rajasthan'>Rajasthan</option>
        <option value='Sikkim'>Sikkim</option>
        <option value='Tamil Nadu'>Tamil Nadu</option>
        <option value='Telangana'>Telangana</option>
        <option value='Tripura'>Tripura</option>
        <option value='Uttar Pradesh'>Uttar Pradesh</option>
        <option value='Uttarakhand'>Uttarakhand</option>
        <option value='West Bengal'>West Bengal</option>
        <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
        <option value='Chandigarh'>Chandigarh</option>
        <option value='Dadra and Nagar Haveli and Daman and Diu'>Dadra and Nagar Haveli and Daman and Diu</option>
        <option value='Delhi'>Delhi</option>
        <option value='Lakshadweep'>Lakshadweep</option>
        <option value='Puducherry'>Puducherry</option>
    </select>
</div>
  <h6 id='errorMessage' style='color: red; text-align: center' ></h6>
                 {{!-- <div class="form-check">
             <input type="checkbox" class="form-check-input" id="exampleCheck1">
               <label class="form-check-label" for="exampleCheck1">set as Default</label>
               </div> --}}
             
              </div>
                
           
              <div class='col-md-12'>
                <button id="edit-address-submit" class='btn btn-fill-out submit' name='submit' value='Submit'>Save</button>
              </div>
            </div>
          </form>
</div>

      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>
<style>

.form-control.error:not(#search-form-control){
        border-color: red;}

</style>